<ion-header translucent>
  <ion-toolbar>
    <ion-title>Change City & Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gradient-bg">
  <div class="location-wrapper">

    <h2 class="heading">🌆 Choose Your City</h2>
    <ion-item class="input-item">
      <ion-select
        placeholder="Select City"
        interface="popover"
        (ionChange)="onCityChange($event.detail.value)"
      >
        <ion-select-option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}, {{ city.state }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <h2 class="heading">📍 Select Area</h2>
    <ion-item class="input-item" *ngIf="areas.length > 0">
      <ion-select
        placeholder="Select Area"
        interface="popover"
        (ionChange)="onAreaChange($event.detail.value)"
      >
        <ion-select-option *ngFor="let area of areas" [value]="area.id">
          {{ area.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" class="btn-primary" (click)="saveLocation()">
      Save Location
    </ion-button>

    <div class="divider"><span>or</span></div>

    <ion-button expand="block" fill="outline" class="btn-detect" (click)="detectLocation()">
      <ion-icon name="locate-outline"></ion-icon>
      Auto Detect My Location
    </ion-button>

    <div *ngIf="currentLocation" class="current-loc">
      <ion-icon name="pin"></ion-icon> {{ currentLocation }}
    </div>
  </div>
</ion-content>
