ion-slides, ion-slide {
  height: 200px;
}

ion-slide img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

ion-list {
  margin-top: 10px;
}

ion-item {
  --background: rgba(255, 255, 255, 0.05);
  margin: 8px 0;
  border-radius: 8px;
}

